<ng-template #noValue>--</ng-template>

<div class="card">
    <h2>Swarm</h2>

    <p-message *ngIf="!canScan && protocol === 'http:'" severity="warn" styleClass="w-full mb-3 py-4 border-round-xl"
        text="Network scanning is disabled when accessed via hostname or reverse proxy. Add devices manually using their IP address or hostname.">
    </p-message>

    <p-message *ngIf="!canScan && protocol === 'https:'"
        severity="warn"
        styleClass="w-full mb-3 py-4 border-round-xl"
        text="Network scanning is disabled when accessed via hostname or reverse proxy. Add devices manually using their hostname.
        When this page is loaded via HTTPS, you can only connect to devices accessible over HTTPS due to browser security (Mixed Content blocking).">
    </p-message>

    <ng-container *ngIf="swarm.length; else noDevices">
        <div class="grid">
            <div class="col-6 xl:col-3" *ngFor="let metric of [
                { label: 'Total Devices', value: swarm.length },
                { label: 'Total Hashrate', value: totals.hashRate * 1000000000 | hashSuffix},
                { label: 'Total Power', value: (totals.power | number: '1.1-1')  + ' W' },
                { label: 'Best Diff', value: totals.bestDiff | diffSuffix }
            ]">
                <div class="card flex flex-column mb-0">
                    <span class="text-500 font-medium mb-3">{{metric.label}}</span>
                    <div class="text-900 font-medium text-2xl">{{metric.value}}</div>
                </div>
            </div>
        </div>

        <div class="mt-2 mb-3 gap-2 sm:gap-3 flex justify-content-end">
            <div class="flex gap-2 sm:gap-3">
                <div *ngIf="gridView && filteredSwarm.length">
                    <ng-template #sortTemplate let-option>
                        <span>{{option.label}}</span>
                        <i class="pi pi-sort-{{option.value.sortDirection === 'asc' ? 'up' : 'down'}}-fill text-xs ml-2"></i>
                    </ng-template>

                    <p-dropdown
                        [options]="sortOptions"
                        [(ngModel)]="selectedSort"
                        (onChange)="onSortChange($event)"
                        optionLabel="label"
                        optionValue="value"
                        styleClass="w-10rem"
                    >
                        <ng-template let-option pTemplate="item">
                            <ng-container *ngTemplateOutlet="sortTemplate; context: { $implicit: option }"></ng-container>
                        </ng-template>

                        <ng-template let-option pTemplate="selectedItem">
                            <ng-container *ngTemplateOutlet="sortTemplate; context: { $implicit: option }"></ng-container>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="w-full p-input-icon-left relative">
                    <i class="pi pi-filter"></i>
                    <input
                        pInputText
                        type="text"
                        class="w-full sm:w-12rem lg:w-14rem pr-5"
                        autocomplete="off"
                        placeholder="Filter"
                        [(ngModel)]="filterText" />
                    <p-button
                        icon="pi pi-times text-xs flex align-items-center justify-content-center"
                        pp-button
                        pTooltip="Clear"
                        tooltipPosition="top"
                        severity="secondary"
                        styleClass="button-icon-small"
                        class="absolute right-0 mt-2 mr-2"
                        *ngIf="filterText"
                        (click)="filterText = ''" />
                </div>

                <div class="flex align-items-center">
                    <p-button
                        icon="pi pi-list flex align-items-center justify-content-center"
                        pp-button
                        [ngClass]="gridView ? 'opacity-70' : ''"
                        pTooltip="List View"
                        tooltipPosition="top"
                        (click)="toggleGridView(false)" />
                    <p-button
                        icon="pi pi-th-large flex align-items-center justify-content-center"
                        pp-button
                        [ngClass]="gridView ? '' : 'opacity-70'"
                        pTooltip="Grid View"
                        tooltipPosition="top"
                        (click)="toggleGridView(true)" />
                </div>
            </div>
        </div>

        <ng-container *ngIf="filteredSwarm.length; else noFilterResults">
            <div class="grid" *ngIf="gridView">
                <div class="col-12 sm:col-6 xl:col-{{staticMenuDesktopInactive ? 3 : 4}}" *ngFor="let axe of filteredSwarm">
                    <div class="card flex justify-content-between mb-0 h-full">
                        <div class="flex flex-column justify-content-between">
                            <div class="flex flex-column">
                                <div class="flex flex-column">
                                    <div class="white-space-nowrap">
                                        <a [href]="'http://' + axe.IP" target="_blank" class="text-900" pTooltip="Hostname" tooltipPosition="top">
                                            {{axe.hostname}}
                                        </a>
                                        <span class="ml-1 text-lg line-height-1 cursor-pointer" [ngStyle]="{color: axe.swarmColor}" pTooltip="{{stringifyDeviceLabel(axe)}}" tooltipPosition="top">
                                            ●
                                        </span>
                                    </div>
                                    <div class="white-space-nowrap">
                                        <a [href]="'http://' + axe.IP" target="_blank" class="text-800" pTooltip="IP" tooltipPosition="top">
                                            {{axe.IP}}
                                        </a>
                                        <span *ngIf="isThisDevice(axe.IP)" class="ml-1 cursor-pointer" pTooltip="This device" tooltipPosition="top">
                                            <i class="pi pi-star-fill text-xs"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="text-500 cursor-pointer" pTooltip="Version" tooltipPosition="top">
                                    {{axe.version}}
                                </span>
                                <span class="text-500 cursor-pointer" pTooltip="Uptime: {{axe.uptimeSeconds | dateAgo}}" tooltipPosition="top">
                                    {{axe.uptimeSeconds | dateAgo: {intervals: 1} }}
                                </span>
                            </div>
                            <div class="flex align-items-center mb-1 gap-3 md:gap-2">
                                <p-button
                                    icon="pi pi-pencil text-sm flex align-items-center justify-content-center"
                                    pp-button
                                    pTooltip="Edit"
                                    tooltipPosition="top"
                                    severity="secondary"
                                    styleClass="button-icon-small"
                                    (click)="edit(axe)" />
                                <p-button
                                    icon="pi pi-refresh text-sm flex align-items-center justify-content-center"
                                    pp-button
                                    pTooltip="Restart"
                                    tooltipPosition="top"
                                    severity="secondary"
                                    styleClass="button-icon-small"
                                    (click)="restart(axe)" />
                                <p-button
                                    icon="pi pi-trash text-sm flex align-items-center justify-content-center"
                                    pp-button
                                    pTooltip="Remove"
                                    tooltipPosition="top"
                                    severity="secondary"
                                    styleClass="button-icon-small"
                                    (click)="remove(axe)" />
                                <i
                                    *ngIf="getDeviceNotification(axe) as notification"
                                    class="pi pi-exclamation-triangle cursor-pointer text-lg"
                                    pTooltip="{{ notification.msg }}"
                                    tooltipPosition="top"
                                    [ngClass]="'text-' + notification.color + '-500'"></i>
                            </div>
                        </div>
                        <div class="flex flex-column text-right white-space-nowrap cursor-pointer">
                            <span pTooltip="Hashrate" tooltipPosition="top">
                                {{axe.hashRate * 1000000000 | hashSuffix}}
                            </span>
                            <div>
                                <span class="text-500 cursor-pointer mr-2" pTooltip="Shares Rejected" tooltipPosition="top">
                                    {{axe.sharesRejected | number: '1.0-0'}}
                                </span>
                                <span class="cursor-pointer" pTooltip="Shares Accepted" tooltipPosition="top">
                                    {{axe.sharesAccepted | number: '1.0-0'}}
                                </span>
                            </div>
                            <div>
                                <span class="text-500 cursor-pointer mr-2" pTooltip="Best Session Diff" tooltipPosition="top">
                                    {{axe.bestSessionDiff | diffSuffix}}
                                </span>
                                <span class="cursor-pointer" pTooltip="Best Diff" tooltipPosition="top">
                                    {{axe.bestDiff | diffSuffix}}
                                </span>
                            </div>
                            <div>
                                <span *ngIf="axe.vrTemp" class="text-500 cursor-pointer mr-2" [ngClass]="{'text-red-500': axe.vrTemp > 105}" pTooltip="Voltage Regulator Temperature" tooltipPosition="top">
                                    {{axe.vrTemp | number: '1.0-1'}} °C
                                </span>
                                <span *ngIf="axe.temp2 > 0" class="cursor-pointer mr-2" [ngClass]="{'text-red-500': axe.temp2 > 70}" pTooltip="ASIC Temperature 2" tooltipPosition="top">
                                    {{axe.temp2 | number: '1.0-1'}} °C
                                </span>
                                <span class="cursor-pointer" [ngClass]="{'text-red-500': axe.temp > 70}" pTooltip="ASIC Temperature{{ axe.temp2 > 0 ? ' 1' : '' }}" tooltipPosition="top">
                                    <ng-container *ngIf="axe.temp > 0; else noValue">
                                        {{axe.temp | number: '1.0-1'}} °C
                                    </ng-container>
                                </span>
                            </div>
                            <span class="cursor-pointer" pTooltip="Power" tooltipPosition="top">
                                {{axe.power | number: '1.1-1'}} W
                            </span>
                            <span class="cursor-pointer" pTooltip="Pool Diff" tooltipPosition="top">
                                {{axe.poolDifficulty}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card overflow-x-auto" *ngIf="!gridView">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th *ngFor="let field of [
                                { label: 'Hostname', name: 'hostname' },
                                { label: 'IP', name: 'IP' },
                                { label: 'Hashrate', name: 'hashRate' },
                                { label: 'Shares', name: 'sharesAccepted' },
                                { label: 'Best Diff', name: 'bestDiff' },
                                { label: 'Uptime', name: 'uptimeSeconds' },
                                { label: 'Power', name: 'power' },
                                { label: 'Temp', name: 'temp' },
                                { label: 'Pool Diff', name: 'poolDifficulty' },
                                { label: 'Version', name: 'version' },
                            ]" class="text-500 font-medium">
                                <div class="flex align-items-center cursor-pointer select-none relative" (click)="sortBy(field.name)">
                                    <span class="pr-3">{{field.label}}</span>
                                    <i class="pi text-xs absolute right-0" [ngClass]="{
                                        'pi-sort-up-fill': selectedSort.sortField === field.name && selectedSort.sortDirection === 'asc',
                                        'pi-sort-down-fill': selectedSort.sortField === field.name && selectedSort.sortDirection === 'desc'
                                    }"></i>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let axe of filteredSwarm">
                            <td>
                                <a [href]="'http://' + axe.IP" target="_blank">
                                    <span class="text-900">{{axe.hostname}}</span>
                                    <span class="ml-2 text-lg line-height-1 cursor-pointer" [ngStyle]="{color: axe.swarmColor}" pTooltip="{{stringifyDeviceLabel(axe)}}" tooltipPosition="top">●</span>
                                </a>
                                <div *ngIf="getDeviceNotification(axe) as notification" class="flex align-items-center gap-1" [ngClass]="'text-' + notification.color + '-500'">
                                    <i class="pi pi-exclamation-triangle"></i>
                                    <span class="text-sm">{{ notification.msg }}</span>
                                </div>
                            </td>
                            <td>
                                <a [href]="'http://' + axe.IP" target="_blank" class="text-800">{{axe.IP}}</a>
                                <span *ngIf="isThisDevice(axe.IP)" class="ml-2 cursor-pointer" pTooltip="This device" tooltipPosition="top">
                                    <i class="pi pi-star-fill text-xs"></i>
                                </span>
                            </td>
                            <td>{{axe.hashRate * 1000000000 | hashSuffix}}</td>
                            <td>
                                <p class="cursor-pointer m-0" pTooltip="Shares Accepted" tooltipPosition="top">
                                    {{axe.sharesAccepted | number: '1.0-0'}}
                                </p>
                                <p class="text-500 cursor-pointer m-0" pTooltip="Shares Rejected" tooltipPosition="top">
                                    {{axe.sharesRejected | number: '1.0-0'}}
                                </p>
                            </td>
                            <td>
                                <p class="cursor-pointer m-0" pTooltip="Best Diff" tooltipPosition="top">
                                    {{axe.bestDiff | diffSuffix}}
                                </p>
                                <p class="text-500 cursor-pointer m-0" pTooltip="Best Session Diff" tooltipPosition="top">
                                    {{axe.bestSessionDiff | diffSuffix}}
                                </p>
                            </td>
                            <td class="cursor-pointer" pTooltip="Uptime: {{axe.uptimeSeconds | dateAgo}}" tooltipPosition="top">
                                {{axe.uptimeSeconds | dateAgo: {intervals: 1} }}
                            </td>
                            <td>{{axe.power | number: '1.1-1'}} W</td>
                            <td>
                                <p class="cursor-pointer m-0" [ngClass]="{'text-red-500': axe.temp > 70}" pTooltip="ASIC Temperature{{ axe.temp2 > 0 ? ' 1' : '' }}" tooltipPosition="top">
                                    <ng-container *ngIf="axe.temp > 0; else noValue">
                                        {{axe.temp | number: '1.0-1'}} °C
                                    </ng-container>
                                </p>
                                <p *ngIf="axe.temp2 > 0" class="cursor-pointer m-0" [ngClass]="{'text-red-500': axe.temp2 > 70}" pTooltip="ASIC Temperature 2" tooltipPosition="top">
                                    {{axe.temp2 | number: '1.0-1'}} °C
                                </p>
                                <p *ngIf="axe.vrTemp" class="text-500 cursor-pointer m-0" [ngClass]="{'text-red-500': axe.vrTemp > 105}" pTooltip="Voltage Regulator Temperature" tooltipPosition="top">
                                    {{axe.vrTemp | number: '1.0-1'}} °C
                                </p>
                            </td>
                            <td>{{axe.poolDifficulty}}</td>
                            <td>{{axe.version}}</td>
                            <td>
                                <p-button
                                    icon="pi pi-pencil flex align-items-center justify-content-center"
                                    pp-button
                                    severity="secondary"
                                    styleClass="button-icon"
                                    (click)="edit(axe)" />
                                <p-button
                                    icon="pi pi-refresh flex align-items-center justify-content-center"
                                    pp-button
                                    severity="secondary"
                                    styleClass="button-icon"
                                    class="mx-2"
                                    (click)="restart(axe)" />
                                <p-button
                                    icon="pi pi-trash flex align-items-center justify-content-center"
                                    pp-button
                                    severity="secondary"
                                    styleClass="button-icon"
                                    (click)="remove(axe)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex flex-wrap gap-2 mt-3 text-sm justify-content-center">
                <div *ngFor="let item of deviceFamilies" class="flex align-items-center gap-1">
                    <span [ngStyle]="{color: item.swarmColor}">●</span>
                    <span class="text-500">{{stringifyDeviceLabel(item)}}</span>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-template #noFilterResults>
        <div class="text-500 text-center w-full pt-5">
            No matches found
        </div>
    </ng-template>

    <ng-template #noDevices>
        <p class="text-500 text-center pt-5">
            <ng-container *ngIf="canScan; else noScanMessage">
                Scan your network for devices or add a device manually by using its IP address or hostname.
            </ng-container>
            <ng-template #noScanMessage>
                Network scanning is disabled when accessed via hostname or reverse proxy. Add devices manually using their IP address or hostname.
            </ng-template>
        </p>
    </ng-template>

    <form *ngIf="form" [formGroup]="form" class="card flex flex-column md:flex-row gap-3 mt-5">
        <button *ngIf="canScan" pButton (click)="scanNetwork()" [disabled]="scanning" class="white-space-nowrap w-full md:w-auto block text-center button-text">
            {{scanning ? 'Scanning...' : 'Auto Scan'}}
        </button>

        <div class="flex align-items-center gap-3" *ngIf="this.swarm.length">
            <button pButton (click)="refreshList()" class="flex justify-content-between button-text">
                <span>{{isRefreshing ? 'Refreshing...' : 'Refresh'}}</span>
                <span *ngIf="!isRefreshing" class="text-sm text-700">{{refreshIntervalTime}}</span>
            </button>
            <div class="flex flex-grow-1 align-items-center gap-3">
                <p-slider class="w-full md:w-3rem xl:w-6rem" [min]="5" [max]="30" [formControl]="refreshIntervalControl"></p-slider>
                <span class="text-sm white-space-nowrap">{{refreshTimeSet}} s</span>
            </div>
        </div>

        <div class="md:ml-auto">
            <p-inputGroup>
                <input pInputText placeholder="Add Device (IP or Hostname)" formControlName="manualAddIp" type="text" class="xl:w-20rem" />
                <button pButton [disabled]="form.invalid" (click)="add()" class="ml-1">Add</button>
            </p-inputGroup>
        </div>
    </form>

    <app-modal [headline]="selectedAxeOs?.IP">
        <app-edit *ngIf="selectedAxeOs" [uri]="getDeviceUrl(selectedAxeOs.IP)"></app-edit>
    </app-modal>
</div>