#logs {
    height: calc(100svh - 4rem - 10rem - 4rem - 4px); // padding + height + border
    border: 1px solid #304562;
    overflow-y: scroll;
    overflow-x: hidden;

    @media (min-width: 768px) {
        height: calc(100vh - 4rem - 9rem - 4rem - 4px); // padding + height + border
    }
}

.ansi-red { color: #ff0000; }
.ansi-green { color: #00ff00; }
.ansi-yellow { color: #ffff00; }
.ansi-blue { color: #0000ff; }
.ansi-magenta { color: #ff00ff; }
.ansi-cyan { color: #00ffff; }
.ansi-white { color: #ffffff; }
