.theme-color{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.color-dot {
  position: relative;
  transition: box-shadow 0.15s ease-in-out;

  &.selected {
    box-shadow: 0 0 0 2px var(--color-bg-card), 0 0 0 4px var(--dot-bg) !important;
  }

  .selected-icon {
    color: contrast-color(var(--dot-bg));
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

input[type="color"] {
  appearance: none;
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
}

