@layer theme, base, components, layout, axe-os, utilities;

@font-face {
    font-family: 'Nippo-Regular';
    src: url(/assets/fonts/Nippo-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@layer layout {
    @import "./app/layout/styles/layout/layout.scss";
    @import "./app/layout/styles/layout/theme";
}

@import "./app/layout/styles/modules/primeicons";

@layer axe-os {
    @import "./app/layout/styles/layout/axe-os";
}

@import "./app/layout/styles/layout/components";
