@if (isVisible) {
  <div class="modal-backdrop" (click)="closable ? isVisible = false : null"></div>
  <div class="modal card">
    <header class="flex justify-between items-center p-3 pb-5">
      <h2 class="m-0">{{headline}}</h2>
      @if (closable) {
        <button class="btn btn-secondary border-none p-2" (click)="isVisible = false">
          <i class="pi pi-times"></i>
        </button>
      }
    </header>
    <main class="overflow-y-auto flex-1 p-0 px-3">
      <ng-content></ng-content>
    </main>
  </div>
}
